/* Layout */
.admin_dashboard {
  display: flex;
  min-height: 100vh;
  background: #f8f9ff;
}

.admin_dashboard_main {
  flex: 1;
  padding: 30px;
}

/* Tabs */
.admin_dashboard_tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin_dashboard_acc {
  display: flex;
  gap: 20px;
}

.admin_dashboard_acc button {
  background: none;
  border: none;
  font-size: 16px;
  padding-bottom: 5px;
  cursor: pointer;
}

.admin_dashboard_acc button.active {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

/* Add button */
.admin_dashboard_addBtn_wrapper {
  display: flex;
  justify-content: flex-end;
}

.admin_dashboard_addBtn {
  background: #1b2b48;
  color: #fff;
  padding: 11px 20px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Lora", serif;
}

/* --- Reports table design --- */
.admin_client-rec_table_container {
  margin-top: 10px;
}

.admin_client-rec_table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.admin_client-rec_table thead {
  background: #1b2b48;
  color: white;
}

.admin_client-rec_table th,
.admin_client-rec_table td {
  padding: 14px;
  text-align: left;
  border: 1px solid #e5e7eb;
}

.admin_client-rec_table th {
  font-size: 14px;
  font-weight: bold;
}

.admin_client-rec_action_icon {
  margin-right: 10px;
  cursor: pointer;
  color: #1b2b48;
  font-size: 16px;
}
