.customer-mainpage {
  text-align: center;
  padding: 225px 20px 60px 20px;
}

.customer-mainpage h1 {
  font-family: 'Lora', serif;
  font-size: 48px;
  color: #003200;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px white;
}
.customer-mainpage button {
  font-family: 'Lora', serif;
  padding: 23px 61px;
  background-color: #003200;
  font-size: 23px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 180px;
  
  /* Optional: Add outline to button text if needed */
  text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.5);
}