.customer-mainpage {
  text-align: center;
  padding: 225px 20px 60px 20px;
  background-color: #f5f5f5;
}

.customer-mainpage h1 {
  font-family: 'Lora', serif;
  font-size: 48px;
  color: #0d1b2a;
  margin-bottom: 20px;
}

.customer-mainpage button {
  font-family: 'Lora', serif;
  padding: 23px 61px;
  background-color: #0d1b2a;
  font-size: 23px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 180px;
}
