* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
} 